# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Logs and temporary files
*.log
*.tmp
*.out
*.pid

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test output
.tox/
.nox/
.cache/
pytest_cache/

# MyPy cache
.mypy_cache/

# Pylint reports
pylint-report/

# Other ignored files
*.sqlite3
*.db
